In [1]:
import pandas as pd
import os
from datetime import datetime
import matplotlib.pyplot as plt
import cv2 as cv


df = pd.read_csv("2021_10_22_16_26_07pos.csv")
df.head()
def get_accumulation_time():
    df_time = df_normalization['time']
    time_ori = datetime.strptime(df_time[0], "%H:%M:%S")
    time_delta = []
    for time in df_time:
        time_now = datetime.strptime(time, "%H:%M:%S")
        time_delta.append((time_now - time_ori).seconds/60)
    df_normalization.insert(1, column="accumulation", value=time_delta)

,time,temp_lid,temp_well,well_1,well_2,well_3,well_4,well_5,well_6,well_7,well_8,well_9,well_10,well_11,well_12,well_13,well_14,well_15,well_16
0,16:40:56,97.6,63.46,56,65,96,99,71,75,86,71,49,86,66,64,104,62,83,78
1,16:41:26,98.3,63.46,56,65,98,99,70,75,86,70,48,86,65,60,104,61,83,77
2,16:41:57,98.3,63.56,55,64,98,99,70,69,85,69,49,86,65,61,104,61,83,77
3,16:42:25,98.5,63.46,55,64,99,99,70,69,85,70,49,87,65,60,103,67,82,78
4,16:42:56,98.5,63.46,55,64,96,98,71,69,85,68,48,86,64,60,104,61,83,78